@using Client.Pages.ProjectsPage.Models
@using System.Globalization
@typeparam TEnumType


<div class="selectdiv">
    <InputSelect ValueExpression="(()=>ActiveOption)" @oninput="HandleInputAsync">
        @foreach (var item in Options)
        {
            <option value="@item.Value">@item.Key</option>
        }
        <option value="@Options.FirstOrDefault().Value" selected disabled>Выбрать</option>
    </InputSelect>
</div>

@code {
    /// <summary>
    /// Варианты селектора
    /// </summary>
    [Parameter]
    [EditorRequired]
    public Dictionary<string, TEnumType> Options { get; set; } = new();

    /// <summary>
    /// Обработчик события выбора селктора
    /// </summary>
    [Parameter]
    [EditorRequired]
    public EventCallback<TEnumType> SelectOptionEvent { get; set; }

    /// <summary>
    /// Активный элемент селекта
    /// </summary>
    private TEnumType ActiveOption;

    /// <summary>
    /// Обработчик выбора селектора
    /// </summary>
    /// <returns></returns>
    private async Task HandleInputAsync(ChangeEventArgs e)
    {
        if (e.Value == null)
            return;
        if (BindConverter.TryConvertTo<TEnumType>(e.Value, CultureInfo.CurrentCulture, out var newValue))
            await SelectOptionEvent.InvokeAsync(newValue);
    }
}