@rendermode RenderMode.InteractiveWebAssembly
@using Client.Pages.TimeLineDayPage.Request
@using Client.SharedComponents.Forms
@using Client.SharedComponents.Modal

<DefaultForm1 Header="Актуализация показателей" Model="Model" TModelType="UpdateIndicatorsByAllParam" SubmitButton="Submit">
    <DataAnnotationsValidator />
    <p><InputNumber @bind-Value="Model.AlcoholPercentage" placeholder="Процент алкоголя"></InputNumber></p>
    <ValidationMessage For="(()=>Model.AlcoholPercentage)" />
    <p><InputNumber @bind-Value="Model.SugarValue" placeholder="Содержание сахара"></InputNumber></p>
    <ValidationMessage For="(()=>Model.SugarValue)" />
    <p><InputNumber @bind-Value="Model.Wort" placeholder="Объем"></InputNumber></p>
    <ValidationMessage For="(()=>Model.Wort)" />
    <p><input type="submit" value="Актуализировать"></p>
</DefaultForm1>

@code {
    /// <summary>
    /// Моделька
    /// </summary>
    public UpdateIndicatorsByAllParam Model { get; set; } = new();

    /// <summary>
    /// Обработчик отправки формы
    /// </summary>
    [EditorRequired, Parameter]
    public EventCallback<UpdateIndicatorsByAllParam> OnSubmit { get; set; }

    public async Task Submit()
    {
        await OnSubmit.InvokeAsync(Model);
    }
}
