@rendermode RenderMode.InteractiveWebAssembly
@using Client.Pages.TimeLineDayPage.Request
@using Client.SharedComponents.Forms
@using Client.SharedComponents.Modal

<DefaultForm1 Header="Актуализация показателей" Model="Model" TModelType="UpdateIndicatorsByAllAreometer" SubmitButton="Submit">
    <DataAnnotationsValidator />
    <p><InputNumber @bind-Value="Model.AreometerValue" placeholder="Показания ареометра"></InputNumber></p>
    <ValidationMessage For="(()=>Model.AreometerValue)" />
    <p><input type="submit" value="Актуализировать"></p>
</DefaultForm1>

@code {
    /// <summary>
    /// Моделька
    /// </summary>
    public UpdateIndicatorsByAllAreometer Model { get; set; } = new();

    /// <summary>
    /// Обработчик отправки формы
    /// </summary>
    [EditorRequired, Parameter]
    public EventCallback<UpdateIndicatorsByAllAreometer> OnSubmit { get; set; }

    public async Task Submit()
    {
        await OnSubmit.InvokeAsync(Model);
    }
}
