@rendermode RenderMode.InteractiveWebAssembly
@using Client.Pages.TimeLineDayPage.Request
@using Client.SharedComponents.Forms
@using Client.SharedComponents.Modal

<DefaultForm1 Header="Актуализация показателей" Model="Model" TModelType="UpdateIndicatorsByAllAreometer" SubmitButton="Submit">
    <DataAnnotationsValidator />
    <p><InputNumber @bind-Value="Model.AreometerValue" placeholder="Процент алкоголя"></InputNumber></p>
    <ValidationMessage For="(()=>Model.AreometerValue)" />
    <p><input type="submit" value="Актуализировать"></p>
</DefaultForm1>

@code {
    /// <summary>
    /// Моделька
    /// </summary>
    public UpdateIndicatorsByAllAreometer Model { get; set; } = new();

    /// <summary>
    /// Модалка
    /// </summary>
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    public void Submit()
    {
        var viewDict = new Dictionary<string, string>()
        {
            {"Значение ареометра", Model.AreometerValue==null?string.Empty:((float)Model.AreometerValue).ToString()},
        };
        var parameter = new ModalParameters().Add(nameof(BaseModal1<string>.Values), viewDict);
        Modal.Show<BaseModal1<string>>("Some text from onSubmit", parameter);
    }
}
