.contentRowsContainer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.contentToLeft {
    display: flex;
    flex-grow: 1;
    background-color: brown;
    align-items: center;
    gap: 2%;
}

    .contentToLeft img {
        width: 35%;
    }

    .contentToLeft span {
        margin-left: 1%;
        margin-right: 1%;
        width: 80%;
        text-align: center;
        vertical-align: middle;
        background-color: aliceblue;
        font-size: large;
    }

.contentToRight {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
    background-color: brown;
    align-items: center;
    gap: 2%;
}

    .contentToRight img {
        width: 35%;
    }

    .contentToRight span {
        margin-left: 1%;
        margin-right: 1%;
        width: 80%;
        text-align: center;
        vertical-align: middle;
        background-color: aliceblue;
        font-size: large;
    }

@media(max-width: 767px) {
    .contentToLeft {
        flex-direction: column;
        margin-bottom: 1%;
        margin-top: 1%;
    }

        .contentToLeft span {
            margin-left: 1%;
            margin-right: 1%;
            width: 98%;
        }

    .contentToRight {
        flex-direction: column;
    }

        .contentToRight span {
            margin-left: 1%;
            margin-right: 1%;
            width: 98%;
        }

    .contentToLeft img {
        width: 60%;
    }

    .contentToRight img {
        width: 60%;
    }
}
