@page "/"
@rendermode RenderMode.InteractiveWebAssembly

<div class="contentRowsContainer">
    <div class="contentToLeft">
        <img src="MainPage/images/wine1.jpg">
        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quos perspiciatis, rerum doloremque
            officiis fugiat quae deserunt unde corrupti eligendi quam ipsum ipsam, placeat atque voluptas odio error
            molestiae. Dolor?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa adipisci magni, at iusto et maxime, earum
            a quaerat porro, odio eligendi ad quas? Quos maiores autem, accusantium magnam consectetur libero!
        </span>
    </div>
    <div class="contentToRight">
        <img src="MainPage/images/wine2.jpg">
        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quos perspiciatis, rerum doloremque
            officiis fugiat quae deserunt unde corrupti eligendi quam ipsum ipsam, placeat atque voluptas odio error
            molestiae. Dolor?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel voluptatem minus impedit nulla! Voluptas
            veritatis sed odit corrupti inventore cumque suscipit temporibus dolorum eveniet, laborum esse,
            recusandae sit, nesciunt velit!
        </span>
    </div>
    <div class="contentToLeft">
        <img src="MainPage/images/wine3.jpg">
        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quos perspiciatis, rerum doloremque
            officiis fugiat quae deserunt unde corrupti eligendi quam ipsum ipsam, placeat atque voluptas odio error
            molestiae. Dolor?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem expedita, repudiandae tenetur quaerat
            architecto rerum, alias sequi, corrupti illo perferendis impedit nemo quisquam provident exercitationem
            aut. Corrupti eligendi voluptatum assumenda!
        </span>
    </div>
    <div class="contentToRight">
        <img src="MainPage/images/wine4.jpg">
        <span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum quos perspiciatis, rerum doloremque
            officiis fugiat quae deserunt unde corrupti eligendi quam ipsum ipsam, placeat atque voluptas odio error
            molestiae. Dolor?
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae natus, ullam placeat reiciendis minima
            ea, repellendus possimus sed quisquam excepturi architecto voluptatibus provident et illo aut
            perspiciatis nam. Aperiam, in!
        </span>
    </div>
</div>