@page "/"
@rendermode RenderMode.InteractiveWebAssembly

<div class="contentRowsContainer">
    <div class="contentToLeft">
        <img src="MainPage/images/wine1.png">
        <span>
            Виноделие представляет собой искусство и науку, где каждый этап производства вина требует внимательного контроля и экспертизы. 
            Внедрение цифровых технологий, таких как автоматизация процессов, мониторинг условий хранения и аналитика данных, позволяет виноделам более эффективно управлять производственным процессом. 
            Это помогает оптимизировать ресурсы, минимизировать риски и повысить качество вина благодаря более точному контролю за каждым этапом его создания.
            Такая цифровая трансформация не только улучшает производственные процессы, но и способствует более высокому уровню инноваций и развитию винодельческой индустрии в целом.
        </span>
    </div>
    <div class="contentToRight">
        <img src="MainPage/images/wine5.png">
        <span>
            Высчитывание показателей вина на основе математических моделей представляет собой эффективный подход, 
            который значительно облегчает труд виноделов. Эти модели позволяют предсказывать различные характеристики и 
            качественные показатели вина, такие как уровень сахара, кислотность, алкогольность и т. д., 
            исходя из различных параметров производства и сырья. Использование математических моделей позволяет 
            оптимизировать процессы контроля качества и принятия решений, улучшая стабильность и предсказуемость производства.
            Это способствует повышению эффективности винодельческих предприятий, сокращению времени и затрат на тестирование и анализ,
            а также обеспечивает более точное соответствие желаемым характеристикам и вкусовым предпочтениям потребителей.
        </span>
    </div>
    <div class="contentToLeft">
        <img src="MainPage/images/wine3.png">
        <span>
            Переход на расчет показателей в виноделии на основе математических моделей и внедрение цифровых технологий приносят целый ряд 
            преимуществ для бизнеса. Прежде всего, это повышает эффективность производства и контроля качества, 
            что позволяет снизить затраты на тестирование и анализ, а также оптимизировать использование ресурсов. 
            Точные математические модели позволяют прогнозировать производственные параметры, минимизируя риски и повышая 
            предсказуемость результатов. Кроме того, цифровые технологии позволяют автоматизировать процессы, улучшить 
            мониторинг и управление, а также собирать и анализировать большие объемы данных для принятия обоснованных 
            стратегических решений. В результате бизнес становится более конкурентоспособным, а качество и надежность 
            его продукции улучшаются, что способствует росту лояльности клиентов и увеличению прибыли.
        </span>
    </div>
    <div class="contentToRight">
        <img src="MainPage/images/wine4.png">
        <span>
            Винодельческая индустрия активно внедряет цифровые технологии, преобразуя традиционные методы производства и управления. 
            Множество винодельческих предприятий во всем мире стремятся сделать свои операции более эффективными и конкурентоспособными 
            с помощью цифровых инноваций. Цифровизация помогает винодельням оптимизировать производственные процессы, 
            повысить качество продукции, снизить издержки и риски, а также улучшить взаимодействие с клиентами и создать 
            более устойчивые и инновационные бизнес-модели. Этот тренд к цифровому преобразованию будет продолжать распространяться, 
            поскольку винодельческая индустрия стремится оставаться на передовой в условиях быстро меняющегося рынка и 
            потребительских предпочтений.
        </span>
    </div>
</div>