@using Client.SharedComponents.Tables.Models
@inherits ComponentBase
@rendermode RenderMode.InteractiveWebAssembly

@* Компонент таблицы с редактированием первого элементов первого столбца и удалением строк *@
<table class="listProjectTable">
    <caption>
        <div class="searchDiv">
            <div class="searchForm">
                <input @bind-value="@SearchLine" type="text" placeholder="Искать здесь...">
                <button @onclick="Sort" type="submit"></button>
            </div>
        </div>
    </caption>
    <tr>
        @foreach (var item in Headers)
        {
            <th>@item</th>
        }
        <th colspan="2">Редактирование</th>
    </tr>
    @for (var i = 0; i < Data.Count; i++)
    {
        <tr>
            @{
                var copyI = i;
            }
            @for (int j = 0; j < Data[copyI].Cells.Count; j++)
            {
                var copyJ = j;
                if (copyJ == 0 && Edits[Data[i].Id])
                {
                    <td><input placeholder="@Data[copyI].Cells[copyJ]" @bind-value="UpdatedRows[Data[copyI].Id]" /></td>
                }
                else
                {
                    <td>@Data[copyI].Cells[copyJ]</td>
                }
            }
            @if (!Edits[Data[copyI].Id])
            {
                <td><a class="noselect" @onclick="(()=>ChangeRow(Data[copyI].Id))">Изменить</a></td>
            }
            else
            {
                <td><a class="noselect" type="submit" @onclick="(()=>AcceptButton(Data[copyI].Id))">Подтвердить</a></td>
                <td><a class="noselect" @onclick="(()=>ChangeRow(Data[copyI].Id))">Отменить</a></td>
            }

            <td><a class="noselect" @onclick="(()=> DeletedRow(Data[copyI].Id))">Удалить</a></td>

        </tr>
    }
</table>


@code {
    /// <summary>
    /// Заголовки
    /// </summary>
    [Parameter]
    public List<string> Headers { get; set; } = new();

    /// <summary>
    /// Строки
    /// </summary>
    [EditorRequired, Parameter]
    public List<Row> Data { get; set; } = new();

    /// <summary>
    /// Событие изменения кнопки
    /// </summary>
    [Parameter]
    public EventCallback<EditRow> EditButtonEvent { get; set; }

    /// <summary>
    /// Событий удаления кнопки
    /// </summary>
    [Parameter]
    public EventCallback<int> DeleteButtonEvent { get; set; }

    /// <summary>
    /// Список флагов изменяемых строк
    /// </summary>
    private Dictionary<int, bool> Edits { get; set; } = new();

    /// <summary>
    /// Список значений изменяемых строк
    /// </summary>
    private Dictionary<int, string> UpdatedRows = new();

    /// <summary>
    /// Строка поиска
    /// </summary>
    public string SearchLine { get; set; } = string.Empty;

    /// <summary>
    /// Обработчик события поиска строки
    /// </summary>
    private void Sort()
    {
        Data = Data.OrderByDescending(x => x.Cells[0].ToLower().StartsWith(SearchLine.ToLower())).ToList();

        StateHasChanged();
    }

    protected override void OnParametersSet()
    {
        Edits = Data.Select(x => x).ToDictionary(k => k.Id, v => default(Boolean));
        UpdatedRows = Data.Select(x => x).ToDictionary(k => k.Id, v => v.Cells[0]);
    }

    public override Task SetParametersAsync(ParameterView parameters)
    {
        if (parameters.TryGetValue<List<Row>>(nameof(Data), out var value))
        {
            Data = value;
            Edits = value.Select(x => x).ToDictionary(k => k.Id, v => default(Boolean));
            UpdatedRows = value.Select(x => x).ToDictionary(k => k.Id, v => v.Cells[0]);
        }

        return base.SetParametersAsync(parameters);
    }

    /// <summary>
    /// Обработчик удаления записи
    /// </summary>
    /// <param name="id"></param>
    /// <returns></returns>
    private async Task DeletedRow(int id)
    {
        await DeleteButtonEvent.InvokeAsync(id);
    }

    /// <summary>
    /// Сменить флаг изменения на противоположный
    /// Добавить запись об изменении
    /// </summary>
    /// <param name="id"> id Записи </param>
    private void ChangeRow(int id)
    {
        Edits[id] = !Edits[id];
    }

    /// <summary>
    /// Событие нажатия кнопки подтверждения
    /// </summary>
    private async Task AcceptButton(int id)
    {
        if (!string.IsNullOrEmpty(UpdatedRows[id]))
        {
            var editRow = new EditRow() { Id = id, UpdatedName = UpdatedRows[id] };
            await EditButtonEvent.InvokeAsync(editRow);
        }
    }
}
