@using Client.Pages.ProjectsPage.Request
@using Client.SharedComponents.Forms
@rendermode RenderMode.InteractiveWebAssembly

<DefaultForm1 Header="Первичные данные" Model="Model" TModelType="CreateProjectModelByAreometer" SubmitButton="OnSubmit">
    <DataAnnotationsValidator />
    <p><InputText @bind-Value="Model.ProjectName" placeholder="Название проекта"></InputText></p>
    <ValidationMessage For="(()=>Model.ProjectName)" />
    <p><InputNumber @bind-Value="Model.Wort" placeholder="Объем сусла"></InputNumber></p>
    <ValidationMessage For="(()=>Model.Wort)" />
    <p><InputNumber @bind-Value="Model.AreometerValue" placeholder="Показания ареометра"></InputNumber></p>
    <ValidationMessage For="(()=>Model.AreometerValue)" />
    <p>Желаемые показатели</p>
    <p><InputNumber @bind-Value="Model.DesiredAlcoholValue" placeholder="Процентное содержание спирта"></InputNumber></p>
    <ValidationMessage For="(()=>Model.DesiredAlcoholValue)" />
    <p><InputNumber @bind-Value="Model.DesiredSugarValue" placeholder="Содержание сахара"></InputNumber></p>
    <ValidationMessage For="(()=>Model.DesiredSugarValue)" />
    <p><input type="submit" value="Создать"></p>
</DefaultForm1>

@code {
    /// <summary>
    /// Модель для создания по ареометру
    /// </summary>
    public CreateProjectModelByAreometer Model { get; set; } = new();

    /// <summary>
    /// Обработчик нажатия кнопки отправить
    /// </summary>
    [Parameter]
    public EventCallback<CreateProjectModelByAreometer> SubmitButton { get; set; }

    /// <summary>
    /// Обработчик кнопки создать
    /// </summary>
    private async Task OnSubmit()
    {
        await SubmitButton.InvokeAsync(Model);
    }
}