@using Client.Pages.ProjectsPage.Models.Request
@using Client.Pages.ProjectsPage.Request
@using Client.SharedComponents.Forms
@using Client.SharedComponents.Modal
@rendermode RenderMode.InteractiveWebAssembly

<DefaultForm1 Header="Первичные данные" Model="Model" TModelType="CreateProjectModelByAllParams" SubmitButton="OnSubmit">
    <DataAnnotationsValidator />
    <p><InputText @bind-Value="Model.ProjectName" placeholder="Название проекта"></InputText></p>
    <ValidationMessage For="(()=>Model.ProjectName)" />
    <p><InputNumber @bind-Value="Model.Wort" placeholder="Объем сусла"></InputNumber></p>
    <ValidationMessage For="(()=>Model.Wort)" />
    <p><InputNumber @bind-Value="Model.AlcoholValue" placeholder="Процентное содержание спирта"></InputNumber></p>
    <ValidationMessage For="(()=>Model.AlcoholValue)" />
    <p><InputNumber @bind-Value="Model.SugarValue" placeholder="Содержание сахара"></InputNumber></p>
    <ValidationMessage For="(()=>Model.SugarValue)" />
    <p>Желаемые показатели</p>
    <p><InputNumber @bind-Value="Model.DesiredAlcoholValue" placeholder="Процентное содержание спирта"></InputNumber></p>
    <ValidationMessage For="(()=>Model.DesiredAlcoholValue)" />
    <p><InputNumber @bind-Value="Model.DesiredSugarValue" placeholder="Содержание сахара"></InputNumber></p>
    <ValidationMessage For="(()=>Model.DesiredSugarValue)" />
    <p><input type="submit" value="Создать"></p>
</DefaultForm1>

@code {
    /// <summary>
    /// Модель для создания по сорту винограда
    /// </summary>
    public CreateProjectModelByAllParams Model { get; set; } = new();

    /// <summary>
    /// Модалка
    /// </summary>
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    /// <summary>
    /// Обработчик нажатия кнопки отправить
    /// </summary>
    [Parameter]
    public EventCallback<CreateProjectModelByAllParams> SubmitButton { get; set; }

    /// <summary>
    /// Получение сортов винограда
    /// </summary>
    /// <returns></returns>
    private async Task OnSubmit()
    {
        await SubmitButton.InvokeAsync(Model);
    }
}