@using Client.Auth.PasswordAuthentification.Abstract
@using Client.Pages.AuthPage.Models
@using Client.SharedComponents.Forms
@using Client.SharedComponents.Modal
@inject NavigationManager navManager
@inject IAuthorizeAPI authAPI
@rendermode RenderMode.InteractiveWebAssembly

<DefaultForm1 Header="Регистрация" Model="Model" TModelType="RegisterModel" SubmitButton="Submit">
    <DataAnnotationsValidator />
    <p><InputText @bind-Value="Model.Login" placeholder="Логин"></InputText></p>
    <ValidationMessage For="(()=>Model.Login)" />
    <p><InputText type="password" @bind-Value="Model.Password" placeholder="Пароль"></InputText></p>
    <ValidationMessage For="(()=>Model.Password)" />
    <p><InputText type="password" @bind-Value="Model.RepeatPassword" placeholder="Повторить пароль"></InputText></p>
    <ValidationMessage For="(()=>Model.RepeatPassword)" />
    <p><input type="submit" value="Войти"></p>
</DefaultForm1>

<ul>
    @foreach (var error in ListErrors)
    {
        <li>@error</li>
    }
</ul>

@code {
    private RegisterModel Model = new();

    private List<string> ListErrors = new();

    /// <summary>
    /// Модалка
    /// </summary>
    [CascadingParameter] public IModalService Modal { get; set; } = default!;

    /// <summary>
    /// Обработчик регистрации
    /// </summary>
    private async Task Submit()
    {
        if (string.IsNullOrEmpty(Model.Login) || string.IsNullOrEmpty(Model.Password))
            return;

        ListErrors = (await authAPI.Register(Model.Login, Model.Password)).ToList();
        if (ListErrors.Count() == 0)        //Если ошибок нету перенаправляем на страницу аутентификации
            navManager.NavigateTo("/auth", true);
        else
            Model = new();
    }
}
