@using Client.Pages.SettingGrapeVarietiesPage.Models.Request
@using Client.SharedComponents.Forms

@rendermode RenderMode.InteractiveWebAssembly

<DefaultForm1 Header="Добавление сорта винограда" Model="Model" TModelType="GrapeVarietyRequest" SubmitButton="OnSubmit">
    <DataAnnotationsValidator />
    <p><InputText @bind-Value="Model.GrapeVarietyName" placeholder="Наименование сорта"></InputText></p>
    <ValidationMessage For="(()=>Model.GrapeVarietyName)" />
    <p><InputNumber @bind-Value="Model.SugarValue" placeholder="Содержание сахара г/100см^3"></InputNumber></p>
    <ValidationMessage For="(()=>Model.SugarValue)" />
    <p><InputNumber @bind-Value="Model.AcidValue" placeholder="Кислотность г/дм^3"></InputNumber></p>
    <ValidationMessage For="(()=>Model.AcidValue)" />
    <p><input type="submit" value="Создать"></p>
</DefaultForm1>

@code {
    /// <summary>
    /// Модель для создания сорта винограда
    /// </summary>
    public GrapeVarietyRequest Model { get; set; } = new();

    /// <summary>
    /// Обработчик нажатия кнопки отправить
    /// </summary>
    [Parameter]
    public EventCallback<GrapeVarietyRequest> SubmitButton { get; set; }

    /// <summary>
    /// Добавить новый сорт винограда
    /// </summary>
    /// <returns></returns>
    private async Task OnSubmit()
    {
        await SubmitButton.InvokeAsync(Model);
    }
}